@charset "UTF-8";

/* Сейчас мы приведём страницу браузера в "чистый вид".
Это необходим, чтобы настройки различных браузеров не
подстраивали каждый по своему "умолчанию",
а везде было одинаково - кросс-платформа */

/* Тэг "*" означает, что мы обращаемся ко всем тэгам страницы */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas&family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas&family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas&family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas&family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas&family=PT+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas&family=PT+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Кратко: Меняет ширину блока так,чтобы нам было удобнее верстать */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки */

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Перечисляем HTML5 тэги. Добавляем значение "Блок", что делает их блочными */

nav,
footer,
header,
aside {
  display: block;
}

/* Обратимся к тегам HTML и Body. Выставим в них значения
которые уравняют их в различных браузерах. И запрещают увеличение шрифта */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Обращаемся к следующим тэгам, чтобы они унаследовали семейство шрифта.
Так как по умолчанию они его не наследуют */

input,
button,
textarea {
  font-family: inherit;
}

/* Следующие настройки убирают, некоторые особенности, браузеров 
(типа крестик, отступы, стили */

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Обнуляем все заголовки Н */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-display: swap;
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 100%;
  line-height: 10px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

/* Слайд */

.slick-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

/* Конкретный слайдер */

.slider__column_items .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/slider/sl-arrow_l.svg) 0 0/100% no-repeat;
}

.slider__column_items .slick-arrow.slick-next {
  right: 0;
  background: url(../img/slider/sl-arrow_r.svg) 0 0/100% no-repeat;
}

/* Точки (булиты) */

.slider__column_items .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.slider__column_items .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

/* Активная точка */

/* Элемент точки */

.slider__column_items .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider__column_items .slick-dots li.slick-active button {
  background-color: black;
}

body {
  font-size: 100%;
  line-height: 10px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.footer {
  padding: 0px 0px 35px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  display: inline-block;
  color: #4d4d4d;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
}

.footer__text_underline {
  text-decoration: underline;
}

.header {
  padding: 22px 0px 50px 0px;
  background-color: #fff;
  z-index: 10;
}

.header__body {
  position: relative;
}

.header__online-order {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #000;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 0 4px;
  z-index: 5;
}

.header__online-order:hover {
  background-color: #000;
  color: white;
}

.header__slide-menu {
  position: relative;
}

.header__lang-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.header__lang-item {
  color: black;
  font-family: "Bebas Neue";
  font-size: 14px;
  line-height: 178.57143%;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  padding: 0 4px;
  margin: 0 10px 0 0;
}

.header__lang-item:nth-child() .header__lang-item:hover {
  background-color: #000;
  color: white;
}

.header ._select {
  background-color: #000;
  color: white;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 30px 0px 0px 0px;
}

.menu__item:nth-child(3) {
  margin: 0px 30% 0px 0px;
}

.menu__link {
  color: #000;
  font-size: 15px;
  line-height: 166.66667%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.menu__link:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: -7px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.logo__text {
  display: block;
  color: #000000;
  font-family: "Bebas Neue";
  font-size: 10px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
}

.logo__img {
  display: block;
  margin: 8px 0 11px 0;
}

.logo__img img {
  max-width: 100%;
  margin: -2px 0px -2px 0px;
}

.icon-menu {
  display: none;
}

body {
  font-size: 100%;
  line-height: 10px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.button__link {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  text-align: center;
  padding: 0px 20px;
  font-family: "Bebas Neue";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.button__link_w,
.button__link .map__button-input {
  background-color: white;
  color: #000000;
  text-align: center;
  width: 155px;
}

.button__link_w:hover,
.button__link .map__button-input:hover {
  text-decoration: underline;
}

.button__link_wl {
  color: white;
  width: 155px;
  text-decoration: underline;
}

.button__link_wl:hover {
  text-decoration: none;
}

.button__link_b {
  background-color: black;
  color: white;
  width: 155px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.button__link_b:hover {
  text-decoration: underline;
}

.button__link_bl {
  padding: 0 3px;
  text-align: left;
  color: black;
  width: 155px;
  text-decoration: underline;
}

.button__link_bl:hover {
  text-decoration: none;
}

body {
  font-size: 100%;
  line-height: 10px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 100%;
  line-height: 10px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.map__form-action {
  margin: 0px 0px 50px 0px;
}

.map__form-contain {
  margin: 0px 0px 25px 0px;
}

.map__form-name-input,
.map__form-email-input {
  display: inline-block;
  width: 70%;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  padding: 5px 0px 0px 15px;
}

.map__form-text-area-input {
  display: inline-block;
  width: 70%;
  height: 100px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  padding: 5px 0px 0px 15px;
}

.map__form-name-input:focus,
.map__form-email-input:focus,
.map__form-text-area-input:focus {
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
  border: 2px solid #eeeeee;
}

body {
  font-size: 100%;
  line-height: 10px;
  font-size: 14px;
  font-family: "AkzidenzGroteskBQ-BdCnd";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

body.lock {
  overflow: hidden;
}

.slider {
  background-color: black;
}

.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-height: 525px;
}

.slider__column_items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  min-height: 250px;
  min-width: 0;
}

.slider__column_txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slider__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__right-column-body {
  padding: 65px 0px 60px 10%;
  max-width: 350px;
}

.slider__title {
  display: block;
  margin: 0px 0px 35px 0px;
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.slider__subtitle {
  display: block;
  margin: 0px 0px 50px 0px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 28px;
}

.slider__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.order-list {
  padding: 75px 0px 30px 0px;
  background-color: #fff;
}

.order-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.order-list__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 15px 0px;
}

.column__image {
  position: relative;
  padding: 0px 0px 102.5% 0px;
  margin: 0px 0px 15px 0px;
}

.column__img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.column__title {
  display: block;
  max-width: 60%;
  margin: 0px 0px 25px 0px;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.column__subtitle {
  display: block;
  margin: 0px 0px 32px 0px;
  max-width: 90%;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.why {
  margin: 0px 0px 80px 0px;
}

.why_bot {
  background-color: #ebebeb;
}

.why__top {
  background-color: black;
}

.why__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.why__bot-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0px 25px 0px;
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  height: 150px;
}

.top__choose {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

.top__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  min-height: 100px;
}

.top__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 7% 50%;
     object-position: 7% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 10px 25px 0px;
}

.item__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__ico {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0px 5px 10px;
}

.item__subtitle {
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.item__text {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

.contact__hello {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0px 0px 35px 0px;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0px 0px 30px 0px;
}

.contact__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__text {
  margin: 0px 0px 0px 10px;
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 25px;
  color: #000;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
}

.map {
  margin: 0px 0px 35px 0px;
}

.map__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.map__location {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
  min-height: 320px;
}

.map__location iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: black;
}

.map__form-wrap {
  margin: 10% 10% 0px 10%;
}

.map__title {
  color: #ffffff;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0px 0px 25px 0px;
}

@media (min-width: 767.98px) {
  .slider__column_items .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 15px;
    height: 30px;
    margin: -15px 15px 0px 15px;
  }
}

@media (max-width: 892px) {
  .container {
    max-width: 750px;
  }

  .why__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 767.98px) {
  .slick-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__text {
    margin: 0px 0px 15px 0px;
  }

  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }

  .header__online-order {
    font-size: 12px;
  }

  .header__slide-menu {
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 90px 10px 20px 20px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .header__slide-menu._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header__lang-item {
    margin: 0 20px 0 0;
    font-size: 20px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px 0px 0px 0px;
  }

  .menu__item {
    margin: 0px 0px 10px 5px;
  }

  .menu__item:nth-child(3) {
    margin: 0px 0px 10px 5px;
  }

  .menu__link {
    font-size: 24px;
  }

  .logo {
    width: 180px;
    margin: 10px 10px 0px 10px;
  }

  .logo {
    width: 90px;
    -webkit-transform: translate(-65%, 0%);
        -ms-transform: translate(-65%, 0%);
            transform: translate(-65%, 0%);
    margin: 5px 10px 0px 10px;
  }

  .logo__text {
    line-height: 10px;
    line-height: 12px;
  }

  .logo {
    position: fixed;
    top: 0;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(45%);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(45%);
  }

  .icon-menu._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(45%);
  }

  .button__link {
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }

  .map__form-name-input,
  .map__form-email-input,
  .map__form-text-area-input {
    width: 100%;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  .content {
    margin-top: 50px;
  }

  .slider__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 900px;
  }

  .slider__column_items {
    padding-bottom: 55%;
  }

  .slider__right-column-body {
    padding: 5% 0px 5% 5%;
    margin: 0 auto;
    max-width: none;
  }

  .slider__title {
    font-size: 32px;
    line-height: 32px;
    margin: 0px 0px 15px 0px;
  }

  .slider__subtitle {
    margin: 0px 10px 25px 0px;
  }

  .order-list {
    padding: 25px 0px 15px 0px;
  }

  .order-list__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .order-list__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .column__title {
    max-width: 90%;
  }

  .why {
    margin: 0px 0px 30px 0px;
  }

  .top__choose {
    font-size: 32px;
    line-height: 40px;
  }

  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .map__location {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .map__form-wrap {
    margin: 7% 5% -6% 5%;
  }
}

@media (max-width: 479.98px) {
  .slider__column_items {
    padding-bottom: 95%;
  }

  .slider__title {
    font-size: 28px;
    line-height: 28px;
  }

  .order-list__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .top__choose {
    font-size: 24px;
    line-height: 36px;
    padding: 0px 10px 0px 10px;
  }
}