@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Перечисляем HTML5 тэги. Добавляем значение "Блок", что делает их блочными */

nav,
footer,
header,
aside {
  display: block;
}

/* Обратимся к тегам HTML и Body. Выставим в них значения
которые уравняют их в различных браузерах. И запрещают увеличение шрифта */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Обращаемся к следующим тэгам, чтобы они унаследовали семейство шрифта.
Так как по умолчанию они его не наследуют */

input,
button,
textarea {
  font-family: inherit;
}

/* Следующие настройки убирают, некоторые особенности, браузеров 
(типа крестик, отступы, стили */

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Обнуляем все заголовки Н */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: block;
}

.icon-fb:before {
  content: "\e901";
}

.icon-insta:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-tweet:before {
  content: "\e907";
}

.title {
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
}

.text,
.article__text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}

.title-posts {
  font-size: 22px;
}

.titleH2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 146.66667%;
  display: inline-block;
}

.btn {
  background-color: #FF6464;
  border-radius: 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  color: white;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body {
  line-height: 14px;
  font-size: 14px;
  font-family: "Heebo";
  color: #21243D;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.mw {
  max-width: 100%;
}

.page {
  padding: 90px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  padding: 50px 0px 54px 0px;
  text-align: center;
}

.footer__icons {
  margin: 0px 0px 25px 0px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 150%;
  color: #21243D;
}

body.lock {
  overflow: hidden;
}

.header__content {
  max-width: 1052px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  height: 82px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin: 0 0 15px 0;
}

.menu__list li:last-child {
  margin: 0;
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.menu__link._active {
  color: #FF6464;
}

.icon-menu {
  display: none;
}

.hi {
  padding: 33px 0px 70px 0px;
}

.hi__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.hi__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 18px 12.94118% 0px 0px;
}

.hi__content *:last-child {
  margin-bottom: 0;
}

.hi__title {
  margin: 0px 0px 30px 0px;
}

.hi__text {
  margin: 0px 0px 35px 0px;
}

.hi__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  -webkit-box-shadow: 10px -13px 0 #EDF7FA, -10px 13px 0 #EDF7FA;
          box-shadow: 10px -13px 0 #EDF7FA, -10px 13px 0 #EDF7FA;
}

.recent-posts {
  background-color: #EDF7FA;
  padding: 25px 0px 15px 0px;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 0px 20px 0px;
}

.recent-posts__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 20px 0px 0px;
}

.recent-posts__view-all {
  font-size: 16px;
  line-height: 143.75%;
  color: #00A8CC;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.recent-posts__items {
  margin: 0 -10px;
}

.recent-posts__column {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.recent-post {
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 22px;
  padding-right: 30px;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
}

.recent-post *:last-child {
  margin-bottom: 0;
}

.recent-post__title {
  font-size: 26px;
  line-height: 146.15385%;
  font-weight: bold;
  color: #21243D;
}

.recent-post__title:hover {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #FF6464;
}

.recent-post__info {
  font-size: 18px;
  line-height: 144.44444%;
  margin: 15px 0px 15px 0px;
}

.recent-post__info span {
  margin: 0px 25px 0px 25px;
}

.recent-post__text {
  margin: 0px 0px 15px 0px;
}

.featured-works {
  margin: 35px 0px 35px 0px;
}

.featured-works__title {
  margin: 0px 0px 40px 0px;
}

.work__item {
  border-bottom: 1px solid #e0e0e0;
  margin: 0px 0px 20px 0px;
}

.work__item:last-child {
  margin-bottom: 0;
}

.work__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  min-height: 180px;
  border-radius: 6px;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  display: block;
}

.work__link_large-margin {
  margin: 0px 0px 45px 0px;
}

.work__body {
  margin: 0px 0px 15px 0px;
}

.work__title {
  margin: 0px 0px 20px 0px;
  color: #21243D;
}

.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 0px 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__year {
  background-color: #142850;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 62px;
  height: 25px;
  margin: 0px 25px 0px 0px;
}

.work__year span {
  font-size: 18px;
  color: white;
  font-weight: 900;
}

.work__category {
  font-size: 20px;
  line-height: 145%;
  color: #8695A4;
}

.works__title {
  margin: 0px 0px 35px 0px;
}

.works {
  margin: 0px 0px 50px 0px;
}

.blog {
  padding-bottom: 50px;
}

.blog__title {
  margin: 0px 0px 45px 0px;
}

.blog__item {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
}

.blog__item *:last-child {
  margin-bottom: 0;
}

.blog__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 146.66667%;
  margin: 0px 0px 10px 0px;
  color: #21243D;
}

.blog__info {
  font-size: 20px;
  line-height: 145%;
  margin: 0px 0px 15px 0px;
}

.blog__info_margin {
  margin: 0 20px;
}

.blog__info_category {
  color: #8695A4;
}

.blog__text {
  padding: 0px 60px 28px 0px;
}

.article {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px 30px;
}

.article__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 147.05882%;
  max-width: 500px;
  margin: 0px 0px 30px 0px;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px 0px 20px 0px;
}

.article__year {
  background-color: #FF6464;
}

.article__category {
  color: #21243D;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article__text {
  margin: 0px 0px -30px 0px;
}

.article__text p {
  margin: 0px 0px 45px 0px;
}

.article__text img {
  max-width: 100%;
  margin: 0px 0px 30px 0px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

._container {
  max-width: 856px;
  margin: 0 auto;
  width: 100%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon {
  display: block;
  margin: 0 17px;
  font-size: 30px;
  color: #21243D;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
  }

  .menu__list li {
    margin: 0px 35px 0px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (min-width: 767.98px) {
  .recent-posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
  }

  .work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px 0px 30px 0px;
  }

  .work__body {
    margin: 0px 0px 15px 18px;
  }
}

@media (min-width: 868px) {
  .btn:hover {
    background-color: #ff1818;
  }

  .footer__copyright:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #FF6464;
  }

  .menu__link:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #FF6464;
  }

  .recent-posts__view-all:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #FF6464;
  }

  .work__title:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #FF6464;
  }

  .blog__subtitle:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #FF6464;
  }

  .social__icon:hover {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    color: #FF6464;
  }
}

@media (max-width: 868px) {
  .hi {
    padding: 0px 0px 70px 0px;
  }

  .hi__content {
    margin-right: 7.05882%;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
    line-height: 125%;
  }

  .title-posts {
    text-align: center;
    font-size: 18px;
  }

  .titleH2 {
    font-size: 24px;
  }

  .page {
    padding: 30px 0px 0px 0px;
  }

  .footer {
    padding: 30px 0px 34px 0px;
  }

  .header__menu {
    height: 50px;
  }

  .menu__body {
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    -webkit-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 60px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .menu__body._active {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
    line-height: 1.4;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(45%);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(45%);
  }

  .icon-menu._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(45%);
  }

  .hi {
    padding: 0px 0px 60px 0px;
  }

  .hi__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .hi__content {
    margin: 0px 0px 0px 0px;
  }

  .hi__title {
    margin: 0px 0px 20px 0px;
  }

  .hi__text {
    margin: 0px 0px 30px 0px;
  }

  .hi__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    height: 170px;
    margin: 0px 0px 35px 0px;
  }

  .recent-posts__view-all {
    display: none;
  }

  .recent-posts__column {
    padding: 0 0 17px 0;
  }

  .recent-post__title {
    font-size: 22px;
  }

  .recent-post__info {
    font-size: 16px;
  }

  .featured-works {
    margin: 35px 0px 30px 0px;
  }

  .work__link {
    padding: 0px 0px 60% 0px;
  }

  .work__link_large-margin {
    margin: 0px 0px 15px 0px;
  }

  .work__title {
    margin: 0px 0px 10px 0px;
  }

  .work__info {
    margin: 0px 0px 15px 0px;
  }

  .work__year span {
    font-size: 16px;
  }

  .work__category {
    font-size: 16px;
  }

  .work_overflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    overflow: auto;
  }

  .work_overflow .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 0px 15px 0px 0px;
  }

  .works__title {
    margin: 0px 0px 25px 0px;
  }

  .works {
    margin: 0px 0px 30px 0px;
  }

  .blog {
    padding-bottom: 30px;
  }

  .blog__title {
    margin: 0px 0px 20px 0px;
  }

  .blog__item {
    margin-bottom: 15px;
  }

  .blog__subtitle {
    font-size: 23px;
    margin: 0px 0px 15px 0px;
  }

  .blog__info {
    font-size: 16px;
  }

  .blog__info_margin {
    margin: 0 15px;
  }

  .blog__text {
    padding: 0px 0px 20px 0px;
  }

  .article__title {
    font-size: 30px;
  }

  ._container {
    max-width: none;
    padding: 0 20px;
  }
}