// ПОДКЛЮЧЕНИЕ СТИЛЕЙ============================================
@import "_mix";

// ПОДКЛЮЧЕНИЕ СТИЛЕЙ============================================

.fotter {
	background-color: #3c3c3c;
	flex: 0 0 30%;
	height: 1px;
	min-height: 300px;

	&__container {
		height: 100%;
	}

	&__body {
		@include flexbox();
		flex-direction: column;
		justify-content: space-evenly;
		text-align: center;
		height: 100%;
		margin: 8% auto;		
	}

	&__logo {
	}

	&__links {
	}

	&__link {
		padding: 0 8px;
		color: #a4a4a4;
		font-size: 14px;
	}

	&__allrighs {
		color: #6c6c6c;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}
}
