// ОБНУЛЕНИЕ СТИЛЕЙ============================================
@import "_nullstyle";
// ОБНУЛЕНИЕ СТИЛЕЙ============================================

// ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ================
@import "_mix";
// ПОДЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ================

@keyframes scroll-down{
	0%{
		top: 0px;
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	90%{
		opacity: 0.6;
	}
	100%{
		top: 90px;
		opacity: 0.2;
	}
}
@media (max-width: $md3+px){
	@keyframes scroll-down{
		0%{
			top: 0px;
			opacity: 0;
		}
		20%{
			opacity: 1;
		}
		90%{
			opacity: 0.6;
		}
		100%{
			top: 60px;
			opacity: 0.2;
		}
	}
}